<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>XWebSite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
   <error-page>
  	<error-code>404</error-code>
  	<location>/error_page.jsp</location>
  </error-page>
  
<servlet>
    <description></description>
    <display-name>ConnectionPro</display-name>
    <servlet-name>ConnectionPro</servlet-name>
    <servlet-class>com.java.finalproject.connect.ConnectionPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionPro</servlet-name>
    <url-pattern>/ConnectionPro</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LogoutServ</display-name>
    <servlet-name>LogoutServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.LogoutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServ</servlet-name>
    <url-pattern>/LogoutServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateUserServ</display-name>
    <servlet-name>UpdateUserServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.UpdateUserServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServ</servlet-name>
    <url-pattern>/UpdateUserServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddressServ</display-name>
    <servlet-name>AddressServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.AddressServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServ</servlet-name>
    <url-pattern>/AddressServ</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AddOpServ</display-name>
    <servlet-name>AddOpServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.AddOpServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOpServ</servlet-name>
    <url-pattern>/AddOpServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddToCartServ</display-name>
    <servlet-name>AddToCartServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.AddToCartServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServ</servlet-name>
    <url-pattern>/AddToCartServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CartOpServ</display-name>
    <servlet-name>CartOpServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.CartOpServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartOpServ</servlet-name>
    <url-pattern>/CartOpServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WishlistServ</display-name>
    <servlet-name>WishlistServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.WishlistServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishlistServ</servlet-name>
    <url-pattern>/WishlistServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AdminLoginServ</display-name>
    <servlet-name>AdminLoginServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.AdminLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServ</servlet-name>
    <url-pattern>/AdminLoginServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>OrderOpServ</display-name>
    <servlet-name>OrderOpServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.OrderOpServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderOpServ</servlet-name>
    <url-pattern>/OrderOpServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateOrderServ</display-name>
    <servlet-name>UpdateOrderServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.UpdateOrderServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServ</servlet-name>
    <url-pattern>/UpdateOrderServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServ</display-name>
    <servlet-name>AdminServ</servlet-name>
    <servlet-class>com.java.finalproject.servlet.AdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServ</servlet-name>
    <url-pattern>/AdminServ</url-pattern>
  </servlet-mapping>

</web-app>